<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <fieldset>
                <legend jhiTranslate="searchByText.home.title">Search By Text</legend>

                <div class="row">
                    <div class="col-sm-12 no-padding-right">
                        <form name="searchForm" class="form-inline">
                            <div class="input-group w-100 mt-3">
                                <input title="Search for rate cards" type="text" class="form-control" [(ngModel)]="currentSearch"
                                        id="currentSearch" name="currentSearch">
                                <button class="input-group-addon btn btn-info" (click)="searchByText()">
                                    <fa-icon [icon]="'search'"></fa-icon>
                                </button>
                                <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>
            <div *ngIf="herb">
                <div class="row">
                    <div class="col">
                        <strong jhiTranslate="searchByText.home.name">Name : </strong><span>{{herb.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong jhiTranslate="searchByText.home.description">Description</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>{{herb.description}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="row">
                <div class="col">
                    <fa-icon [icon]="'leaf'" [spin]="true"></fa-icon>
                    <span jhiTranslate="searchByText.home.pleaseWait">Please Wait</span>
                </div>
            </div>
            <div *ngIf="result" class="row">
                <div *ngFor="let res of result; let i = index" class="col-3">
                    <img class="result-show" [src]="res" name="result-{{i}}" name="result-{{i}}">
                </div>
            </div>
        </div>
    </div>
</div>